#!/usr/bin/make -f

PYVERS := $(shell pyversions -r)

%:
	dh $@ --with python2 --buildsystem=python_distutils

override_dh_auto_build:
	set -ex; \
	for python in $(PYVERS); do \
		$$python setup.py build; \
	done

override_dh_auto_clean:
	rm -rf build
	dh_auto_clean

override_dh_auto_install:
	set -ex; \
	for python in $(PYVERS); do \
		$$python setup.py install --skip-build --root debian/python-requests \
			--install-layout deb; \
	done

override_dh_installchangelogs:
	dh_installchangelogs HISTORY.rst
